<h2>Clock details</h2>
<div>
  <p><strong>distributor: </strong>{{videgame.distributor}}</p>
  <p><strong>name: </strong>{{videogame.name}}</p>
  <p><strong>type: </strong>{{videogame.type}}</p>
</div>